<!-- <div class="container">
    <form [formGroup]="loginform" (ngSubmit)="submitForm()">
        <h3 style="text-align:center">
            Login
        </h3>
        <div class="form-row">
            <div class="form-group">
                <label for="firstname">Username: <span class="lblError">*</span></label>
                <input type="text" [formControlName]="'username'"/>
                <div *ngIf="loginform.get('username').hasError('required')">
            Username is a required field
        </div>
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group">
                <label for="firstname">Password: <span class="lblError">*</span></label>
                <input type="password" [formControlName]="'password'"/>
                <div *ngIf="loginform.get('password').hasError('required')"></div>
                <button [disabled]="!loginform.valid" type="submit">Submit</button>
            </div>
        </div>
        
    </form>
</div>
 -->
 <mat-toolbar>
  <span>
    <a routerLink="/">
      <span><b>Biometric Bags</b></span>
    </a>
  </span>
  <span>
    <a class="active-link" routerLinkActive="active-link" routerLink="/login">
      <span>Login</span>
    </a>
    <a class="active-link" routerLinkActive="active-link" routerLink="/register">
      <span>Signup</span>
    </a>
  </span>
</mat-toolbar>

 <div class="container-fluid">
  <img src="../../assets/Login.png" width="200px" height="200px" alt="" />
  <div class="container">
    <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
        <h3 style="text-align:center">
            Login
        </h3>
        
        <div class="form-row">
        <div class="form-group">
              <!-- Username -->
              <label for="username">Userame: <span class="lblError">*</span></label>
              <div class="controls">
                <input type="text" id="username" placeholder="Name" class="form-control" formControlName="username">
                <p class="lblError" *ngIf="loginform.get('username').hasError('required')
                            && !loginform.get('username').pristine">
                    Username is Required
                </p>
              </div>
        </div>

            <div class="col">
              <div class="form-group">
                <div class="control-group">
                  <!-- Password -->
                  <label for="password">Password: <span class="lblError">*</span></label>
                  <div class="controls">
                  <input type="password" id="password" placeholder="Password" class="form-control" formControlName="password">
                  <p class="lblError" *ngIf="loginform.get('password').hasError('required') && !loginform.get('password').pristine">
                      Password is Required
                  </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        
        <div class="form-group">
          <button class="btn button" type="submit" [disabled]="register.invalid"  style="width: 25%">
            Login
          </button>
        </div>
    </form>
  </div>

 </div>
 