<mat-toolbar>
    <span>
      <a routerLink="/">
        <span><b>Biometric Bags</b></span>
      </a>
    </span>
    <span>
      <a class="active-link" routerLinkActive="active-link" routerLink="/login">
        <span>Login</span>
      </a>
      <a class="active-link" routerLinkActive="active-link" routerLink="/register">
        <span>Signup</span>
      </a>
    </span>
  </mat-toolbar>

<div class="container-fluid">
    <div>
        <img src="../../assets/1.png" alt="Biometric-Bags" />
    </div>
    <div>
        <h4>We Secure Your Valuables!</h4>
    </div>

    <!-- <div class="bttn">
        <button class="btn  button" id="button1" >
            Register
          </button>
        <button class="btn  button" id="#button2" >
            Login
          </button>
    </div>
     -->
      
</div>

